.header {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'GT Easti Display', serif;
  font-size: 37px;
  font-weight: 500;
  width: 292px;
  height: 82px;
  background: linear-gradient(90deg, #eea149,#f1880c);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  border-radius: 1px 1px 20px 20px / 20px 20px 20px 20px;
}
