header {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.title {
  padding: 20px 40px;
  font-family: 'GT Easti Display', serif;
  font-size: 37px;
  font-weight: 500;
  background: linear-gradient(90deg, #eea149,#f1880c);
  display: flex;
  width: 114px;
  color: #ffff;
  border-radius: 20px;
}
