.button {
  width: 272px;
  height: 45px;
  color: white;
  font-family: 'GT Easti Display', serif;
  font-size: 30px;
  font-weight: 500;
  background-color: #D03F9C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
