.calendar {
  margin-bottom: 29px;
}

.day {
  position: relative;
}

.day::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #F7A128;
  border-radius: 5px;
}

.choiceDay {
  position: relative;
}

.choiceDay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #55C3CD;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: center;
}
